/* Add here all your CSS customizations */
ul.portfolio-list .portfolio-item {
	height: 300px !important;
	min-height: 300px !important;
	max-height: 300px !important;
}

ul.portfolio-list .thumb-info {
	height: 300px !important;
	min-height: 300px !important;
	max-height: 300px !important;
}

ul.portfolio-list .thumb-info-wrapper {
	height: 300px !important;
	min-height: 300px !important;
	max-height: 300px !important;
}

#footer .footer-copyright {
	border-top: none;
    background: #3a3c41;
    // background: #6d6e71;
}

.footer-top p {
	color: #6a7177;
	// color: #9ba0aa;
}

.footer-top a {
	color: #6a7177 !important;	
}

#footer {
	color: #9ba0aa;
	border-top: none;
    // background: #6d6e71;
    background: #f0f5f7;
}

#footer .footer-copyright p {
    color: #9ba0aa;
}

#footer h1, #footer h2, #footer h3, #footer h4 {
    color: #3a3c41;
}

.home-intro {
	border-top: 4px solid #005087;
	border-bottom: 4px solid #005087;
    background-color: white;
}

.home-intro p {
    color: #3a3c41;
}

.page-header {
    background-color: #3a3c41;
    border-bottom: 5px solid #3a3c41;
    border-top: 5px solid #3a3c41;
}

#header .header-nav-top .nav > li > span {
    color: #9ba0aa;
}

.call-to-action.call-to-action-default {
    background: #f0f5f7;
}

.call-to-action.call-to-action-in-footer {
    margin-bottom: -10px !important;
}

#header .header-nav-main nav > ul > li > a {
    border-radius: 0;
}

html .btn-primary {
    border-radius: .5rem;
    color: #005087 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: 3px solid #005087;
}

html .btn-primary:hover {
    background-color: #f4f4f4;
}

html .btn-primary:active, html .btn-primary:focus, html .btn-primary:active:hover, html .btn-primary:active:focus {
    background-color: #f4f4f4;
}

ul.nav-pills > li.active > a {
    background-color: transparent;
    color: #005087;
}

#header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li:hover > a {
    background-color: transparent;
    color: #005087;
}

ul.nav-pills > li > .nav-page:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

ul.nav-pills > li:hover > .nav-page:after, ul.nav-pills > li.active > .nav-page:after {
    width: 100%;
    background: #005087;
}